.cartItem {
  display: flex;

  align-items: center;
  padding: 20px;
  margin: 20px auto;
  width: 325px;
  height: 119px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;

  .mainImg {
    width: 70px;
    height: 70px;
  }

  .deleteBtn {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
    width: 32px;
    height: 32px;

    &:hover {
      opacity: 1;
    }
  }

  .content {
    p {
      font-size: 15px;
    }
    b {
      font-size: 14px;
    }
    padding: 10px;
  }
}
